:host {
  .resources {
    height: 650px;
    overflow: auto;
  }

  table {
    width: 100%;
    .mat-column-repoFullName {
      max-width: 175px;
    }
    .mat-column-branchName {
      max-width: 50px;
    }
  }
}
