@import '../../../sass/_variables';

:host {
  .left {
    flex: 3;
    background-color: $red-socgen;
    opacity: 0.9;

    .header {
      padding: 24px 48px;

      .sg-logo {
        max-height: 4vw;
      }
    }
  }

  .right {
    flex: 5;
    flex-direction: column;
    display: flex;
    justify-content: center;

    .ci-droid-desc {
      padding: 5%;
      color: $black;
      opacity: 0.8;

      .title {
        font-size: 10vw;
        font-weight: 700;
      }

      .description {
        font-size: 2.15vw;
        padding: 1%;
      }

      .btn-dark {
        color: $white;
        background-color: $black;
        font-size: 2vh;
      }
    }
  }
}
