@import '../../../sass/_variables';

:host ::ng-deep {
  .left {
    flex: 3;
    background-color: $red-socgen;
    opacity: 0.9;

    .header {
      padding: 24px 48px;

      .sg-logo {
        max-height: 4vw;
      }
    }
  }

  .right {
    flex: 5;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;

    .container-fluid {
      .title {
        padding: 25px 35px;
        font-size: 3vw;
        font-weight: 700;
      }

      .form {
        width: 100%;
        padding: 25px;

        form {
          width: 100%;

          mat-form-field {
            width: 90%;
          }
        }
      }
    }
  }
}
