$white: #fff;
$red-socgen: #e60028;
$blue-sapphire: #23558c;
$grey-base: #333333;
$grey-ultra-light: #f5f5f5;
$grey-light: #ccc;
$blue-dark: #2f333e;
$black: #000000;

$brand-success: #35bd5b;
$brand-info: #009bcd;
$brand-warning: #f17100;
$brand-danger: #b9292d;
$green-light: #bcf7cd;
$blue-light: #b2e1f0;
$orange-light: #ffd6b0;
$red-light: #f7b2be;
$blue-dark2: #444852;
$blue-dark3: #21242b;
$blue-dark4: #191e28;
$grey-lighter: #ddd3df;
$grey: #777;
$grey-dark: #4c4c4c;
