// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,800,900');
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
$global-font-family: 'Montserrat', 'Roboto', sans-serif;
$custom-typography: mat-typography-config(
  $font-family: $global-font-family
);
@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ci-droid-red: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #fd1a1a,
  400: #fd1a1a,
  500: #fd1a1a,
  600: #fd1a1a,
  700: #fd1a1a,
  800: #fd1a1a,
  900: #e60028,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #fd1a1a,
  A700: #e60028,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white
  )
);

$ci-droid-gui-primary: mat-palette($ci-droid-red);
$ci-droid-gui-accent: mat-palette($ci-droid-red, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ci-droid-gui-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ci-droid-gui-theme: mat-light-theme($ci-droid-gui-primary, $ci-droid-gui-accent, $ci-droid-gui-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ci-droid-gui-theme);

@import '~bootstrap/scss/bootstrap';
@import 'variables';

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: $global-font-family;
}
