<mat-card>
  <mat-card-subtitle>{{ githubInteraction }}</mat-card-subtitle>
  <mat-card-content>
    <div *ngIf="title" class="section-block">
      <div>
        Title
      </div>
      <div class="section-value">
        <samp>{{ title }}</samp>
      </div>
    </div>
    <div *ngIf="branchName" class="section-block">
      <div>
        Branch name
      </div>
      <div class="section-value">
        <samp>{{ branchName }}</samp>
      </div>
    </div>
    <div class="section-block">
      <div>
        Commit message
      </div>
      <div class="section-value">
        <samp>{{ commitMessage }}</samp>
      </div>
    </div>
  </mat-card-content>
</mat-card>
