<mat-card>
  <mat-card-subtitle>{{ githubInteraction }}</mat-card-subtitle>
  <mat-card-content>
    <div *ngIf="title" class="section-block">
      <div>
        Title
      </div>
      <div>
        <code>
          {{ title }}
        </code>
      </div>
    </div>
    <div *ngIf="branchName" class="section-block">
      <div>
        Branch name
      </div>
      <div>
        <code>
          {{ branchName }}
        </code>
      </div>
    </div>
    <div class="section-block">
      <div>
        Commit message
      </div>
      <div>
        <code>
          {{ commitMessage }}
        </code>
      </div>
    </div>
  </mat-card-content>
</mat-card>
