<div
  class="upload-csv text-center"
  (dragover)="handleDragAndDrop($event)"
  (dragleave)="handleDragAndDrop($event)"
  (drop)="handleDragAndDrop($event)"
>
  <ng-template [ngIf]="!fileName" [ngIfElse]="fileContent">
    <div class="drag-drop-zone position-relative">
      <input class="input-file w-100 d-block position-absolute" type="file" (change)="onFileChange($event)" accept=".csv" />
      <span> Drag & drop your file or click here </span>
    </div>
  </ng-template>

  <ng-template #fileContent>
    <div class="d-flex justify-content-between align-items-center">
      <mat-icon>file_copy</mat-icon>
      <span> {{ fileName }} </span>
      <mat-icon (click)="resetFile()">cancel</mat-icon>
    </div>
  </ng-template>
</div>
<br />
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="resourcesToUpdate.length">
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (change)="$event ? selectAll() : null"
        [checked]="selectedResources.hasValue() && isAllSelected()"
        [indeterminate]="selectedResources.hasValue() && !isAllSelected()"
      >
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? selectedResources.toggle(row) : null"
        [checked]="selectedResources.isSelected(row)"
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- RepoFullName Column -->
  <ng-container matColumnDef="repoFullName">
    <th mat-header-cell *matHeaderCellDef>RepoFullName</th>
    <td mat-cell *matCellDef="let resource">{{ resource.repoFullName }}</td>
  </ng-container>

  <!-- FilePathOnRepo Column -->
  <ng-container matColumnDef="filePathOnRepo">
    <th mat-header-cell *matHeaderCellDef>FilePathOnRepo</th>
    <td mat-cell *matCellDef="let resource">{{ resource.filePathOnRepo }}</td>
  </ng-container>

  <!-- BranchName Column -->
  <ng-container matColumnDef="branchName">
    <th mat-header-cell *matHeaderCellDef>BranchName</th>
    <td mat-cell *matCellDef="let resource">{{ resource.branchName }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selectedResources.toggle(row)"></tr>
</table>
